.teamView {
  align-items: stretch;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.team {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.card {
  width: 100%;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .team {
    width: 47.5%;
  }
  .team:nth-child(odd) {
    margin-right: 2.5%;
  }
}

@media screen and (min-width: 800px) {
  .team {
    width: 30%;
  }
  .team:nth-child(3n + 2) {
    margin: 10px 3%;
  }
}
